body{
    background-image: url(../img/sky.jpg);
    background-repeat: no-repeat;
}

h1 {
    background-color: darkblue;
    background-image: none;
    color: cadetblue;

    border-style: none;
    border-radius: 1em 1em 1em 1em;
    

    margin: 20px 50px 20px 50px;

    font-family: cursive,fantasy,sans-serif;
    font-size: 5em;
    font-weight: bolder;
    font-style: normal;

    text-align: center;
}

footer{

    text-align: center;
    font-family:  cursive,fantasy,sans-serif;
    font-size: 1.5em;


}