h1 {
    color: cadetblue;

    font-family: cursive,fantasy,sans-serif;
    font-size: 4em;
    font-weight: bolder;
    font-style: normal;

    text-align: center;
}

footer{
    color: cyan;
    border-style: dotted;
    border-color: white;

    text-align: center;
    font-family:  cursive,fantasy,sans-serif;
    font-size: 1em;


}